<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <!-- <link href="Mentor_Profile.css" rel="stylesheet"> -->
    <style>
        body {
          margin: 0;
          padding: 0;
          background: linear-gradient(#ffefd5, #87ceeb) no-repeat;
          font-family: "Kumbh Sans", sans-serif;
        }

        .centerPage {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
        }

        .mentorProfilePage {
          overflow: hidden;
          width: 60%;
          padding: 10px 50px;
          background-color: rgb(255, 255, 255);
          border-radius: 15px;
          box-shadow: 3px 12px 28px -3px rgba(0, 0, 0, 0.45);
        }

        table {
          border: 1px solid black;
          padding: 10px;
          margin: auto;
          width: 100%
        }

        /* Style for the buttons */
        input[type="submit"] {
          padding: 15px;
          margin: auto;
          cursor: pointer;
          text-transform: uppercase;
          text-align: center;
          border: none;
          border-radius: 3px;
          font-weight: 700;
          font-size: 18px;
          background-color: #87CEEB;
        }

        input[type="submit"]:hover {
          box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.45);
        }

        #bio {
          width: 100%;
        }

    </style>
</head>

<body>
    <div class="centerPage">

        <div class="mentorProfilePage">
            
            <!-- This will display the Mentor's Name. Using sample for now -->
            <a href="/">Home</a>
            <h1><%=firstName%> <%=lastName%></h1>

            <!-- This will display the Mentor's location. Unsure if hardcoding -->
            <p><%=state%></p><br>

            <h3><u>Skills</u></h3>
            
            <!-- Using sample skills for now -->
            <!-- Should we have 4 skills to the max so we can "make it better" for mentees to refine their search? -->
            <table>
                <tr id="skills">

                </tr>
            </table><br><br>

            <h3><u>Bio</u></h3>
            <!-- Text box; need to be able to make it like a box -->
            <table>
              <tr >
                <td><%= bio %></td>
              </tr>
          </table><br><br>

            <!-- This should take you to the Review page -->
            <a href="/Review_Page.ejs" target="_blank"><input type="submit" id="leaveReview" value="Leave Review"></a><br><br>

            <!-- This should trigger a request sent to the mentor's profile -->
            <input type="submit" id="requestMembership" value="Request Mentorship"><br>

            <!-- Not clear if this section will be used yet -->
            <h3><u>Reviews</u></h3>


        </div>
    </div>
    <script>
      let mentorSkills = document.getElementById('skills');
        let skill_1 = "<%- (skills1) %>";
        let skill_2 = "<%- (skills2) %>";
        let skill_3 = "<%- (skills3) %>";
        let skill_4 = "<%- (skills4) %>";
        let skill_5 = "<%- (skills5) %>";
        let skill_6 = "<%- (skills6) %>";
        let skills = [skill_1, skill_2, skill_3, skill_4, skill_5, skill_6]
        let result = skills.filter( element => { return element != 'undefined'})
       console.log( (skills));
       console.log( (result));

      // Populate Mentors current Mentees in "My Mentees"
      if (result.length != 0) { // if metnee array is not empty
          result.forEach(menteeSkill => {
            
            mentorSkills.innerHTML += `<td>${menteeSkill}</td>`
          })
      } else {
          mentorSkills.innerHTML += `<td>No Skills.</td>`
      }    
  </script>
</body>